html {
    background: #ECF8F7;
}

body {
    font:'Reem Kufi';
    margin: 50px;
    padding: 25px;
    color: black;
    background: #ECF8F7;
}

h1 {
    font-size: 4em;
    margin: 0;
    text-align:'left';
}

h2 {
    font-size: 3em;
    margin: 5px;
}

h3 {
    font-size: 2em;
    margin: 2.5px;
}

nav {
    font-size: 3em;
    margin: 2px;
}

p {
    line-height: 1em;
}

a[href='index.html'] {
    color: forestgreen;
}

a[href='future.html'] {
    color: forestgreen;
}

#future {
    border-top: 2px dashed black;
    border-bottom: 1px dashed black;
}
#present {
    border-top: 2px dashed black;
}

.achievement-left {
    border-bottom: 1px dashed black;
    text-align: left;
}

.achievement-right {
    border-bottom: 1px dashed black;
    text-align: right;
}

.goal-left {
    border-bottom: 1px dashed black;
    text-align: left;
}

.goal-right {
    border-bottom: 1px dashed black;
    text-align: right;
}

#sign-up-box {
    margin: 25px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.forms {
    margin: 20px;
    padding: 5px;
}

.forms:nth-of-type(1){
  flex: 2;
}

.forms:nth-of-type(2){
  flex: 3;
}

.forms:nth-of-type(3){
  flex: 3;
}


